@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    height: 75px;
    background-color: #505d61;
    line-height: 75px;
    padding: 0px 100px;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
nav .logo p{
    float: left;
    color: #fff;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: #c0d96f;
}
nav ul li .active{
    color: #c0d96f;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html::-webkit-scrollbar {
  width: 0.5vw;
  overflow-x: hidden;
}

html::-webkit-scrollbar-thumb {
  background: #3e4144;
  border-radius: 40px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(192, 219, 245, 0.25), inset -2px -2px 2px rgba(65, 66, 68, 0.25);
          box-shadow: inset 2px 2px 2px rgba(192, 219, 245, 0.25), inset -2px -2px 2px rgba(65, 66, 68, 0.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #17151b, #16141b 1px, #121016 0, #19181d);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

a {
  display: inline-block;
}

.container {
  max-width: 358rem;
  width: 100%;
  padding: 0 1.4rem;
  margin: 0 auto;
}
.main-header {
  height: 1rem;
  padding: 4rem 2.4rem;
}

.main-header .main-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-header button {
  border: none;
  outline: none;
}

.main-header .fa-bars, .main-header .fa-times {
  font-size: 5rem;
  padding: 2px 4px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2);
          box-shadow: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
}

.hero .primary-title {
  font-size: 3.0rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-left: 2rem;
  max-width: 80%;
}
.hero .right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  border-radius: 15px;
  width: 500px;
  max-width: 100%;
}

.hero .hero-h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.hero .text-underline {
  background-repeat: no-repeat;
  background-size: 100% 1.9rem;
  background-position: 0 90%;
}

.hero .demo-btn, .hero .call-btn, .hero .reach-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 10px;
  background-color: #c0d96f;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2);
          box-shadow: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hero .demo-btn:hover, .hero .call-btn:hover, .hero .reach-btn:hover {
  background-color: #c0d96f;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.demo-container, .call-container, .contact-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 2rem;
}

.demo-container button, .call-container button, .contact-container button {
  background-color: #c0d96f;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.0rem 1.0rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.demo-container button:hover, .call-container button:hover, .contact-container button:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.demo-times, .call-times, .contact-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.demo-container.show, .call-container.show, .contact-container.show {
  opacity: 1;
  pointer-events: auto;
  right: inherit;
}

.demo, .call, .contact {
  background-color: #fff;
  padding: 4rem 4rem;
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2);
          box-shadow: rgba(0, 0, 0, 0.2);
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

input, textarea {
  border: 1px solid #c0d96f;
  outline: none;
  width: 100%;
  height: 3.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "poppins", sans-serif;
}

label {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.main-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 0 0;
  background-color: #000;
  color: #fff;
}

.main-footer .connect-h4 {
  font-family: "poppins", sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
  color: #fff;
}

.main-footer .connect-with-us i {
  color: #fff;
  font-size: 3rem;
  padding: 0.8rem 2rem;
}

.main-footer .social-icons {
  color: #000;
  list-style: none;
  margin-bottom: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .important-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .main-footer .important-h4 {
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .main-footer .footer-links {
    width: 100%;
    margin: 3rem 0 1rem 0;
    font-size: 1.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline;;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
.main-footer .bx {
  cursor: pointer;
}

.main-footer .bx:hover {
  opacity: 0.9;
  color: #c0d96f;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
@media screen and (min-width: 650px) {
  .demo-btn, .call-btn, .reach-btn {
    font-size: 1.4rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hero-image {
    width: 100%;
  }
  .right-section {
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left-section, .right-section {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left-section {
    width: 50%;
  }
  .right-section {
    width: 100%;
    height: 50vh;
  }
  .right-section-container {
    width: 500px;
    padding: 2rem 3rem;
    background-color: #fff;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .connect-with-us {
    padding-top: 2rem;
  }
  .social-icons {
    font-size: 1.3rem;
  }
  .important-links {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}